# Idronaut probe service
[Unit]
Description=GPS

# InfluxDB is required to store gps data.
Requires=docker_influxdb.service
After=multi-user.target docker_influxdb.service

# Try to execute the service again, for 10 times.
# Otherwise declare a failure.
StartLimitIntervalSec=30s
StartLimitBurst=10

PartOf=boat.target

# Stop the timesyncd service (a.k.a. NTP) as we are using the GPS time.
Conflicts=systemd-timesyncd.service

[Service]
# Type=simple
Type=exec
User=pi

WorkingDirectory=/home/pi/gps
ExecStart=/usr/bin/python /home/pi/gps/gps.py
# ExecStart=/bin/true

# Keep the service alive even in case of failure.
Restart=on-failure

[Install]
WantedBy=boat.target
