# Docker infux containter start
[Unit]
Description=Docker InfluxDB container

# Require docker to make the service not to fail.
Requires=docker.service
After=multi-user.target docker.service

# PartOf=boat.target

[Service]
Type=oneshot

WorkingDirectory=/home/pi/micasense
ExecStart=/usr/bin/docker start influxdb
#ExecStop=/usr/bin/docker stop influxdb
RemainAfterExit=yes

[Install]
# InfluxDB runs indipendently of other boat services.
# WantedBy=boat.target
WantedBy=multi-user.target
